body {
    font-family: "Nanum Gothic";
}

.welcome-card {
    border: 4px solid #d26d1a;
    border-radius: 2rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.welcome-btn {
    font-size: 24px;
    background-color: #ffb445;
    border: 2px solid #d26d1a;
    border-radius: 4px;
    transition: background-color 0.2s linear;
}

.welcome-btn:hover {
    background-color: greenyellow;
    cursor: pointer;
}