.navbar {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px auto;
    padding: 3px;
    justify-content: space-between;
    border-bottom: 4px solid #d26d1a;
    border-radius: 4px;
    text-decoration: none;
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: var(--offWhite);
    text-decoration: none;
    margin: auto 0;
  }

  img {
    margin-left: 10px;
  }

  .navbar-link {
    text-decoration: none;
    font-family: "Nanum Gothic";
    font-weight: bolder;
    font-size: 20px;
    color: black;
  }
  
  .navbar-link:hover {
    background-color: greenyellow;
  }

  .navbar-link-logout {
    text-decoration: none;
    font-family: "Nanum Gothic";
    font-weight: bolder;
    font-size: 20px;
    color: black;
  }

  .navbar-link-logout:hover {
    background-color: red;
  }