button {
  background-color: #ffb445;
}

.auth-container {
  border: 4px solid #d26d1a;
  border-radius: 2rem;
  margin: 3rem 15rem;
  padding: 2rem;
}

.header {
  font-size: 2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-input {
  padding: 0.25rem;
  border: 2px solid #d26d1a;
}

.register-link {
  text-align: center;
}

.auth-fieldset {
  margin: 0.25rem 0rem;
  border: none;
}

.register {
  text-decoration: none;
  color: black;
}

.submit {
  padding: 5px;
  background-color: #ffb445;
  transition: border-width 0.2s linear;
}

.submit:hover {
  border-width: 6px;
}

.login-heading {
  display: flex;
}

img {
  margin-right: 10px;
}